/* RESETEO CSS */

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    }

/* FUENTES */

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* TITULARES Y TEXTOS */

h1 {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 200;
}
 
h3 {
    font-size: 2rem;
    font-family: 'lato';
}

h4 {
    font-size: 12px;
    font-family: 'lato';
}

p {
    font-size: 12pt;
    font-family: 'lato';
}

/* DESKTOP - SECCION MENU */

.top-menu{
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: black;    
    padding-top: 50px;
    padding-bottom: 50px; 
}

.menu-item {
    width: 150px; 
}

.logo-img-margin {
    margin-right: 5%; 
}

.menu-margin {
    margin-left: 9%;
    margin-right: 12%; 
}

.list-container {
    margin-right: 6%;
    margin-left: 6%;
}

/* DESKTOP - INDEX - SECCION INICIO*/

.index-intro {    
    background-image: url('inicio/imagenes/inicio-background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    background-attachment: fixed;
	background-position: center center;
	width: 100%;
    color: #ffffff;    
}

.index-main-list {   
    font-weight: 200;
    font-family: 'lato';
    padding-left: 25px;    
}

.text-align {   
    padding: 10%;   
}

/* estructura botón */

.button-container{
    font-family: 'lato';
    font-weight: 500;
    font-size: 2rem;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    margin: 15px 2px;
    transition-duration: 0.4s;
    cursor: pointer;       
}

.intro-left-button {
    padding-bottom: 50px;
}

/* botón blanco */

.white-button {
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #ffffff;
}

.white-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* DESKTOP - INDEX - SECCION PRODUCTOS */

.section-title{
    margin-left: 10%;
    margin-right: 10%; 
    font-weight: bold;
    color: #085dac;  
    text-align: center;
    margin-top: 100px;    
}

.paragraph-align-center {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;    
    align-self: center;
}

/* grilla productos primaria */ 

.grid-thinfinity {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;   
    margin-top: 50px;
    margin-bottom: 50px;
}

.trw-item {
    width: 100%;  
    grid-column-start: 1;
    grid-column-end: 2;
}

.trw-bg-img { 
    background-image: url(inicio/imagenes/persona-trabajando-en-forma-remota-desde-un-dispositivo-mobil.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
	background-position: right center;
    width: 100%;
    max-height: auto;
    color: #ffffff;
}
    
.trd-item {
    width: 100%;  
    grid-column-start: 2;
    grid-column-end: 3;
} 

.trd-bg-img { 
    background-image: url(inicio/imagenes/personas-trabajando-en-forma-remota.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
	background-position: right center;    
    width: 100%;
    max-height: auto;
    color: #ffffff;
}

.text-inside{
    padding-top: 250px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
} 

.title-inside {
    font-size: 20pt;
}

.left-button {
    padding-bottom: 50px;
}

.index-left-button {
    padding-bottom: 50px;
    padding-left: 20%;
}

.index-main-products-button {
    padding-bottom: 50px;
    padding-left: 20%;
}

/* botón azul */

.blue-button {
    background-color: #085dac; 
    color: #ffffff; 
    border: 2px solid #085dac;
  }
  
 .blue-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #085dac;
    border: 2px solid #085dac;
  }

  .centered-button { 
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 20px;
  }

  .main-title-under-picture {
    font-size: 22pt;
    width: 100%;
    text-align: center;  
    padding-bottom: 15px;   
}

.grid-paragraph {
    text-align: center;
    padding-bottom: 15px;
}

/* grilla productos secundaria */

.secondary-products-grid{   
    display: grid; 
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    align-content: center;
}

.three-col-img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

/* DESKTOP - INDEX - SECCION NOSOTROS */

.gray-container {
    background-color: #e2e3e4;
    padding-top: 100px;
    padding-right: 10%;
    padding-bottom: 100px;
    padding-left: 10%;
}

/* grilla */

.index-about-us-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 0px;
    column-gap: 35px;        
}

.index-about-us-img-item {
    grid-column-start: 1;
    grid-column-end: 4;       
}

.index-about-us-section-title {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #085dac;            
}

.index-about-us-grid-item {
    width: 100%; 
    height: auto;
}

.index-about-us-img-item {
    height: 100%; 
}

.index-about-us-title-item {    
    grid-column-start: 4;
    grid-column-end: 8;
}

/* botones en línea */

.button-in-line {
    display: inline-block; 
    margin-bottom: 20px;
    margin: 15px 2px;
}

/* items de lista */

.index-about-us-li {    
    display: flex;
    justify-content: space-around;
}

.index-about-us-grid-list {
    list-style: none;
    margin-top: 20px;            
}

/* DESKTOP - PRODUCTOS - SECCION INICIO */

/* grilla/menú de productos */

.products-grid-container {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2px;
    column-gap: 4px;        
}

.centered-text {
    text-align: center;
}

/* grilla/menú de thinfinity */

.thinfinity-product {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: #007dc1;
    background-image: url(productos/imagenes/isologo-thinfinity.svg); 
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
}

.thinfinity-text-block {    
    background-color: rgba(0, 125, 193, 0); 
    color:  rgba(255, 255, 255, 0);
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 45%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 16%;
}
  
 .thinfinity-text-block:hover {
    background-color: rgba(0, 125, 193, 1);
    color:  rgba(255, 255, 255, 1);
}
  
/* grilla/menú de zscope */

.zscope-product {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #928166;
    background-image: url(productos/imagenes/isologo-zscope.svg); background-repeat: no-repeat;
    background-size:25%;
    background-position: center center;
}

.zscope-text-block {    
    background-color: rgba(146, 129, 102, 0); 
    color:  rgba(255, 255, 255, 0);
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
  
 .zscope-text-block:hover {
    background-color: rgba(146, 129, 102, 1);
    color:  rgba(255, 255, 255, 1);
}

/* grilla/menú de tnbridge */

.tnbridge-product {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #e19634;
    background-image: url(productos/imagenes/isologo-tnbridge.svg); 
    background-repeat: no-repeat;
    background-size:35%;
    background-position: center center;
}

.tnbridge-text-block {    
    background-color: rgba(225, 150, 52, 0); 
    color:  rgba(255, 255, 255, 0);
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;    
    padding-bottom: 5%;
}
  
 .tnbridge-text-block:hover {
    background-color: rgba(225, 150, 52, 1);
    color:  rgba(255, 255, 255, 1);
}

  .in-grid-button{
    font-family: 'lato';
    font-weight: 500;
    font-size: 2rem;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;       
}

/* DESKTOP - PRODUCTOS - SECCION THINFINITY */

.cover-img {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    min-height: auto;
    background-image: url('productos/imagenes/persona-ingresando-a-recursos-en-forma-remota.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	width: 100%;
    color: #ffffff;       
}

.box-text-inside {
    width: 60%;
}

.product-title {
    font-weight: 400;
}

.three-col-grid-container {
    margin-top: 50px;
}

.paragraph-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* DESKTOP - PRODUCTOS - SECCION ZSCOPE */

.two-products-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;        
}
    
.zscope-img-anywhere {
    background-image: url('productos/imagenes/persona-accediendo-a-emulador-de-termianles-en-forma-remote.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
	background-position: center center;
	width: 100%;
}

.zscope-img-desktop {
    background-image: url('productos/imagenes/persona-trabajando-con-emulador-de-terminal-de-escritorio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
	background-position: center center;
	width: 100%;
}

.zscope-text-element {
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff;
    text-align: left;
}

/* DESKTOP - NOSOTROS - SECCION INICIO */

.about-us-grid-container {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 0px;
    column-gap: 35px;        
}

.about-us-paragraph {
    padding-right: 20%;       
}

/* DESKTOP - NOSOTROS - TRABAJO CONJUNTO */

.about-us-segment {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;       
}

.about-us-li {
    font-size: 12pt;   
    font-weight: 600;    
    padding-left: 5%;
}

/* DESKTOP - CLIENTES - SECCION INICIO */

/* grilla */

.clients-grid-container {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 35px;         
}

/* shell */

.clients-grid-shell {
    grid-column-start: 1;
    grid-column-end: 2;   
}



/* visa */

.clients-grid-visa {
    grid-column-start: 2;
    grid-column-end: 3;   
}

.visa-logo {
    width: 100%;    
}

/* fujifilm */

.clients-grid-fujifilm {
    grid-column-start: 3;
    grid-column-end: 4;  
}

.fujifilm-logo {
    width: 100%;    
}

/* ibm */

.clients-grid-ibm {
    grid-column-start: 4;
    grid-column-end: 5;   
}

.ibm-logo {
    width: 100%;    
}

/* paypal */

.clients-grid-paypal {
    grid-column-start: 5;
    grid-column-end: 6;  
}

.paypal-logo {
    width: 100%;    
}

/* maestro */

.clients-grid-maestro {
    grid-column-start: 6;
    grid-column-end: 7;   
}

.maestro-logo {
    width: 100%;    
}

/* botones */

.two-buttons-grid-container {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 35px;         
}

.two-buttons-grid-b1 {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.two-buttons-grid-b2 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* DESKTOP - CONTACTO */

/* grilla */

.contact-grid-container {
    margin-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 35px; 
    row-gap: 0px; 
    border: solid 2px #085dac;       
}

/* teléfonos */

.contact-phone {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;  
    border: solid 2px #085dac; 
    width: 100%;
    height: fit-content;
}

/* mapa */

.contact-map {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;   
    border: solid 2px #085dac;
    height: fit-content;
}

/* dirección */

.contact-address {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;   
    border: solid 2px #085dac;  
    height: fit-content;
}

/* mensaje */

.contact-message {
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 3;
    grid-row-end: 4;   
    border: solid 2px #085dac;
    height: fit-content;
}

/* formulario */

.contact-form {
    grid-column-start: 4;
    grid-column-end: 8;  
    grid-row-start: 1;
    grid-row-end: 6;   
    border: solid 2px #085dac; 
    height: fit-content;
}

/* SECCION PIE */

.footer {
    list-style-type: none;
    font-size: 2rem;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;    
}

.footer-logo {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.legal {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 300;
    text-align: left;
    width: 150px;
    margin-top: 15px;
    line-height: 5px;
}

.footer-items-groups {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    line-height: 25px;
}   

.clean-text {
    font-family: 'Montserrat';    
    color: #ffffff;
    text-decoration: none;    
}

/* MOBILE */
@media only screen and (max-width:450px) {

    h1 {
        font-size: 18pt;
        text-align: center;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 14pt;
        text-align: center;
    }

    h3 {
        font-size: 12pt;
        text-align: center;
    }

    .index-main-list {   
        text-align: left;
        padding-left: 10%;    
    }

    .text-align {   
        padding-left: 10%;
        padding-right: 10%;    
    }

/* MOBILE - botón blanco */
    .button-container{
        font-size: 2rem;
        padding: 6px 32px;
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .intro-left-button {
        padding-left: 0%;        
        display: flex;
        justify-content: center;
    }

    .index-main-products-button {
        padding-left: 0%;        
        display: flex;
        justify-content: center;
    }
    
/* MOBILE - INDEX - SECCION PRODUCTOS */

/* MOBILE - grilla primaria */

    .grid-thinfinity {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 10px;
    }

/* MOBILE - thinfinity remote workspace */    

    .trw-item {
        grid-column: span 1;
    }

/* MOBILE - thinfinity remote desktop */  

    .trd-item {
        grid-column: span 1;
    }

    .title-inside {
        font-size: 18pt;        
        text-align: center;
    }
    
    .text-inside{
        padding-top: 200px;
        text-align: center;
    }

    .left-button {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

/* MOBILE - grilla secundaria */

    .secondary-products-grid{   
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }

    .three-col-img {
        grid-column: span 1;
        margin-top: 25px;
    }

    .main-title-under-picture {
        font-size: 18pt;    
    }

    .grid-paragraph {
        padding-top: 10px;
    }

/* MOBILE - INDEX - SECCION NOSOTROS */

/* MOBILE - grilla */

    .index-about-us-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;         
        text-align: center;      
    }

    .index-about-us-img-item {
        grid-column-start: 1;
        grid-column-end: 2;
        height: auto; 
    }

    .index-about-us-section-title {         
        font-size: 18pt; 
        margin-top: 20px;
        text-align: center; 
    }
    
    .index-about-us-title-item {    
        grid-column-start: 1;
        grid-column-end: 2;
    }

/* MOBILE - botones en línea */

    .button-in-line {              
        display: flex;
        justify-content: center;
    }

/* MOBILE - items de lista */

    .index-about-us-grid-li {
        margin-top: 20px;   
        text-align: center;
        align-items: center;        
    }

    .index-about-us-li {    
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

/* MOBILE - PRODUCTOS - SECCION INICIO */

/* grilla/menú de productos */

    .products-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 3px;        
    } 

/* grilla/menú de thinfinity */

    .thinfinity-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-size:40%;
    }

    .thinfinity-text-block {  
        padding-top: 25%;
        padding-left: 10%;
        padding-right: 10%;
    }
     
/* grilla/menú de zscope */

    .zscope-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-size: 40%;
    }

    .zscope-text-block {   
        padding-top: 25%;
        padding-left: 10%;
        padding-right: 10%;
    }

/* grilla/menú de tnbridge */

    .tnbridge-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-size: 60%;
    }

    .tnbridge-text-block {    
        padding-top: 35%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
/* MOBILE - PRODUCTOS - SECCION THINFINITY */
   
    .cover-img {
        padding-top: 50px; 
    } 

    .product-title {
        font-weight: 400;
        width: 100%;
        text-align: center;
    }

    .text-inside-main-img{
        width: 100%;
        text-align: center;
    } 

    .box-text-inside {
        width: 100%;
        text-align: center;
    }

/* MOBILE - PRODUCTOS - SECCION ZSCOPE */

    .two-products-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 35px;        
    }
    
    .zscope-img-anywhere {
        background-image: url('productos/imagenes/persona-accediendo-a-emulador-de-termianles-en-forma-remote.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: auto;
        background-position: center center;
        width: 100%;
    }

    .zscope-img-desktop {
        background-image: url('productos/imagenes/persona-trabajando-con-emulador-de-terminal-de-escritorio.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: auto;
        background-position: center center;
        width: 100%;
    }

    .zscope-text-element {
        margin-top: 150px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

/* MOBILE - NOSOTROS - SECCION INICIO */

    .about-us-grid-container {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 0px;
        column-gap: 35px;        
    }

    .about-us-paragraph {
        padding-right: 10%; 
        padding-left: 10%; 
        text-align: center;     
    }

/* MOBILE - NOSOTROS - TRABAJO CONJUNTO */

    .about-us-segment {
        padding-top: 50px;
        padding-bottom: 50px;       
    }

    .about-us-li {    
        padding-left: 0%;
        text-align: left;
    }

    .about-us-secondary-title {  
        font-size: 18pt; 
        padding-bottom: 20px;    
    }

    .about-us-text-block { 
        text-align: center;
    }

/* MOBILE - CLIENTES - SECCION INICIO */

/* grilla */

.clients-grid-container {
    margin-top: 25px;   
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 35px; 
    row-gap: 35px;        
}

/* shell */

.clients-grid-shell {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;  
}

/* visa */

.clients-grid-visa {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;  
}

/* fujifilm */

.clients-grid-fujifilm {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
}

/* ibm */

.clients-grid-ibm {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
}

/* paypal */

.clients-grid-paypal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;   
}

/* maestro */

.clients-grid-maestro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;   
}

/* botones */

.two-buttons-grid-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 35px;      
}

.two-buttons-grid-b1 {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.two-buttons-grid-b2 {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}


/* MOBILE - SECCION PIE */  

    .footer {    
        padding-left: 0%;
        padding-right: 0%;
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }   

    .footer-menu-list {
        flex-direction: column;    
    }
    
    .footer-logo {    
        flex-direction: column;
        margin-bottom: 20px;
    }

    .legal {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-items-groups {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}   

/* TABLET */

@media only screen and (min-width:450px) and (max-width:960px) {

    h1 {
        font-size: 3.5rem;
        text-align: left;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2.5rem;
        text-align: left;
    }

    h3 {
        font-size: 16pt;
        text-align: left;
    }
                   
/* TABLET - INDEX SECCION INICIO*/

    .index-main-list {           
        padding-left: 5%;    
    }

    .text-align {   
        padding-left: 10%;
        padding-right: 10%;    
    }

/* TABLET- estructura de botón */

    .button-container{
        font-family: 'lato';
        font-weight: 500;
        font-size: 2rem;
        padding: 6px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 50px;
        display: inline-block;
        margin: 35px 2px;
        transition-duration: 0.4s;
        cursor: pointer;       
    }

    .intro-left-button {
        padding-left: 0%;        
        display: flex;
        justify-content: left;
    }

/*  TABLET - INDEX SECCION PRODUCTOS */

/* TABLET - grilla primaria */

    .grid-thinfinity {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }

    .trw-item {
        grid-column: span 1;
    }

    .trd-item {
        grid-column: span 1;
    }

    .title-inside {
        font-size: 18pt;        
        text-align: center;
    }

    .text-inside{
        padding-top: 200px;
        text-align: center;
    } 

    .left-button {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

    .index-main-products-button {
        padding-left: 0%;        
        display: flex;
        justify-content: center;
    }

/* TABLET - grilla secundaria */

    .secondary-products-grid{   
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }

    .three-col-img {
        grid-column: span 1;
        margin-top: 25px;
    }

    .main-title-under-picture {
        font-size: 18pt;    
    }

/* TABLET - INDEX SECCION NOSOTROS */

/* TABLET - grilla nosotros */

    .index-about-us-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 0px;
        column-gap: 35px;   
        text-align: center;      
    }

    .index-about-us-img-item {
        grid-column-start: 1;
        grid-column-end: 6; 
    }

    .index-about-us-section-title {         
        font-size: 22pt; 
        margin-top: 20px;
        text-align: center; 
    }
    .index-about-us-img-item {
        height: auto; 
    }

    .index-about-us-title-item {    
        grid-column-start: 1;
        grid-column-end: 6;
    }

/* TABLET - botones en línea */

    .button-in-line {        
        display: inline-block;
    }

/* TABLET - items de lista */

    .index-about-us-grid-list {
        margin-top: 20px;   
        text-align: left;
        align-items: center;         
    }

/* TABLET - PRODUCTOS - SECCION INICIO */  

/* grilla/menú de productos */
  
    .products-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 3px;        
    } 

/* grilla/menú de thinfinity */

    .thinfinity-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-size:25%;
    }

    .thinfinity-text-block {  
        padding-top: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
     
/* grilla/menú de zscope */

    .zscope-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-size: 25%;
    }

    .zscope-text-block {   
        padding-top: 35%;
        padding-left: 10%;
        padding-right: 10%;
    }

/* grilla/menú de tnbridge */

    .tnbridge-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-size: 40%;
    }

    .tnbridge-text-block {    
        padding-top: 35%;
        padding-left: 10%;
        padding-right: 10%;
    }

/* TABLET - PRODUCTOS - SECCION THINFINITY */
   
    .cover-img {
        padding-top: 50px; 
    } 
    .product-title {
        font-weight: 400;
        width: 100%;
        text-align: left;
    }

    .box-text-inside {
        width: 70%;
        text-align: left;
    }
    
/* TABLET - PRODUCTOS - SECCION ZSCOPE */

    .two-products-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 35px;        
    }
        
    .zscope-img-anywhere {
        background-image: url('productos/imagenes/persona-accediendo-a-emulador-de-termianles-en-forma-remote.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 450px;
        background-position: center center;
        width: 100%;
        }

    .zscope-img-desktop {
        background-image: url('productos/imagenes/persona-trabajando-con-emulador-de-terminal-de-escritorio.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 450px;
        background-position: center center;
        width: 100%; 
        }

    .zscope-text-element {
        margin-top: 200px;
        margin-left: 75px;
        margin-right: 75px;
        color: #ffffff;
        }

/* TABLET - NOSOTROS - SECCION INICIO */

    .index-about-us-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 0px;
        column-gap: 35px;   
        text-align: center;      
    }

/* TABLET - NOSOTROS - SECCION INICIO */

    .about-us-grid-container {
        margin-top: 0px;
        margin-bottom: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 0px;
        column-gap: 35px;   
        text-align: center;      
    }

    .about-us-paragraph {
        padding-right: 10%; 
        padding-left: 10%;   
        text-align: center;   
    }

/* TABLET - NOSOTROS - TRABAJO CONJUNTO */

    .about-us-segment {
        padding-top: 50px;
        padding-bottom: 50px;       
    }

    .about-us-li {    
        padding-left: 0%;
        text-align: left;
    }

    .about-us-secondary-title {  
        font-size: 22pt; 
        padding-bottom: 20px;    
    }


/* TABLET - CLIENTES - SECCION INICIO */

/* grilla */

    .clients-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 35px;         
    }

/* shell */

    .clients-grid-shell {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;   
    }

/* visa */

    .clients-grid-visa {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;    
    }

/* fujifilm */

    .clients-grid-fujifilm {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;   
    }

/* ibm */

    .clients-grid-ibm {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;   
    }

/* paypal */

    .clients-grid-paypal {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;   
    }

/* maestro */

    .clients-grid-maestro {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;   
    }

/* botones */

    .two-buttons-grid-container {
        margin-top: 50px;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 35px;         
    }
   

}

