/* HEADER -------------------------------------------------------------------------*/
.top-menu{
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: black;    
    padding-top: 50px;
    padding-bottom: 50px; 
}
/* --------------------------------------------------------------------------------*/ 
/* SECCION MENU -------------------------------------------------------------------*/
.menu-margin {
    margin-left: 9%;
    margin-right: 5%; 
/* --------------------------------------------------------------------------------*/     
        .logo-img-margin {
            margin-right: 5%; 
/* --------------------------------------------------------------------------------*/             
                .menu-item {
                    width: 150px; 
                }
        }
/* --------------------------------------------------------------------------------*/         
        .li-container {
            margin-right: 6%;
            margin-left: 6%;
        }
}
/* --------------------------------------------------------------------------------*/ 