/* DESKTOP - PRODUCTOS - SECCION INICIO -------------------------------------------*/
/* grilla/menú de productos -------------------------------------------------------*/
.products-grid-container {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2px;
    column-gap: 4px; 
    /* mobile ---------------------------------------------------------------------*/   
    @media only screen and (max-width:450px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 3px; 
    }
    /* tablet ---------------------------------------------------------------------*/
    @media only screen and (min-width:450px) and (max-width:960px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 3px; 
    }
/* --------------------------------------------------------------------------------*/ 
    .centered-text {
        text-align: center;
    }
/* --------------------------------------------------------------------------------*/         
    /* grilla/menú de thinfinity */
    .thinfinity-product {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        background-color: #007dc1;
        background-image: url(../productos/imagenes/isologo-thinfinity.svg); 
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: center center; 
        /* mobile -----------------------------------------------------------------*/   
        @media only screen and (max-width:450px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            background-size:40%; 
        }
        /* tablet -----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-size: 40%;
        }
/* --------------------------------------------------------------------------------*/ 
        .thinfinity-text-block {    
            background-color: rgba(0, 125, 193, 0); 
            color:  rgba(255, 255, 255, 0);
            display:flex;
            flex-direction: column;
            justify-content: center; 
            padding-top: 45%;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 16%; 
            /* mobile -------------------------------------------------------------*/   
            @media only screen and (max-width:450px) {
                padding-top: 25%;
                padding-left: 10%;
                padding-right: 10%; 
            }
            /* tablet -------------------------------------------------------------*/
            @media only screen and (min-width:450px) and (max-width:960px) {
                padding-top: 30%;
                padding-left: 10%;
                padding-right: 10%;
            }
            &:hover {
                background-color: rgba(0, 125, 193, 1);
                color:  rgba(255, 255, 255, 1);
            }
        }
    }
/* --------------------------------------------------------------------------------*/ 
/* PRODUCTOS ZSCOPE ---------------------------------------------------------------*/
    /* grilla/menú de zscope ------------------------------------------------------*/
    .zscope-product {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: #928166;
        background-image: url(../productos/imagenes/isologo-zscope.svg); background-repeat: no-repeat;
        background-size:25%;
        background-position: center center; 
        /* mobile -----------------------------------------------------------------*/   
        @media only screen and (max-width:450px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            background-size: 40%; 
        }
        /* tablet -----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            background-size: 40%;
        }
/* --------------------------------------------------------------------------------*/ 
        .zscope-text-block {    
            background-color: rgba(146, 129, 102, 0); 
            color:  rgba(255, 255, 255, 0);
            display:flex;
            flex-direction: column;
            justify-content: center; 
            padding-top: 25%;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 5%; 
            /* mobile -------------------------------------------------------------*/   
            @media only screen and (max-width:450px) {
                padding-top: 25%;
                padding-left: 10%;
                padding-right: 10%;
            }
            /* tablet -------------------------------------------------------------*/
            @media only screen and (min-width:450px) and (max-width:960px) {
                padding-top: 35%;
                padding-left: 10%;
                padding-right: 10%;
            }
            &:hover {
                background-color: rgba(146, 129, 102, 1);
                color:  rgba(255, 255, 255, 1);
            }
        }
    }
/* --------------------------------------------------------------------------------*/         
    /* grilla/menú de tnbridge ----------------------------------------------------*/
    .tnbridge-product {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        background-color: #e19634;
        background-image: url(../productos/imagenes/isologo-tnbridge.svg); 
        background-repeat: no-repeat;
        background-size:35%;
        background-position: center center; 
        /* mobile ----------------------------------------------------------------*/   
        @media only screen and (max-width:450px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            background-size: 70%;
        }
        /* tablet ----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            background-size: 70%;
        }
/* --------------------------------------------------------------------------------*/ 
        .tnbridge-text-block {    
            background-color: rgba(225, 150, 52, 0); 
            color:  rgba(255, 255, 255, 0);
            display:flex;
            flex-direction: column;
            justify-content: center; 
            padding-top: 15%;
            padding-left: 10%;
            padding-right: 10%;    
            padding-bottom: 5%; 
            /* mobile -------------------------------------------------------------*/   
            @media only screen and (max-width:450px) {
                padding-top: 35%;
                padding-left: 10%;
                padding-right: 10%;
            }
            /* tablet -------------------------------------------------------------*/
            @media only screen and (min-width:450px) and (max-width:960px) {
                padding-top: 35%;
                padding-left: 10%;
                padding-right: 10%;
            }
            &:hover {
                background-color: rgba(225, 150, 52, 1);
                color:  rgba(255, 255, 255, 1);
            }
        } 
    } 
    
/* --------------------------------------------------------------------------------*/             
    .hide-mobile{
        /* mobile -------------------------------------------------------------*/   
        @media only screen and (max-width:450px) {
            visibility: hidden; 
        }
        /* tablet -------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            visibility: hidden;  
        }   
    }
}  
/* --------------------------------------------------------------------------------*/ 
/* DESKTOP - PRODUCTOS - SECCION THINFINITY ---------------------------------------*/
    .cover-img {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 100px;
        min-height: auto;
        background-image: url('../productos/imagenes/persona-ingresando-a-recursos-en-forma-remota.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        color: #ffffff;  
        /* mobile ----------------------------------------------------------------*/   
        @media only screen and (max-width:450px) {
            padding-top: 50px; 
        }
        /* tablet ----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            padding-top: 50px;
        }
/* --------------------------------------------------------------------------------*/         
        .box-text-inside {
            width: 60%;  
            /* mobile -------------------------------------------------------------*/   
            @media only screen and (max-width:450px) {
                width: 100%;
                text-align: center;
            }
            /* tablet -------------------------------------------------------------*/
            @media only screen and (min-width:450px) and (max-width:960px) {
                width: 70%;
                text-align: left;
            }
/* --------------------------------------------------------------------------------*/ 
            .product-title {
                font-weight: 400;  
                /* mobile ---------------------------------------------------------*/   
                @media only screen and (max-width:450px) {
                    font-weight: 400;
                    width: 100%;
                    text-align: center;
                }
                /* tablet ---------------------------------------------------------*/
                @media only screen and (min-width:450px) and (max-width:960px) {
                    font-weight: 400;
                    width: 100%;
                    text-align: left
                }
            }
        }
/* --------------------------------------------------------------------------------*/ 
        .paragraph-block {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
/* --------------------------------------------------------------------------------*/ 
    .three-col-grid-container {
        margin-top: 50px;
    }
/* --------------------------------------------------------------------------------*/ 
/* DESKTOP - PRODUCTOS - SECCION ZSCOPE -------------------------------------------*/
.two-products-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-template-rows: 1fr;
    column-gap: 35px;   
    /* mobile ---------------------------------------------------------------------*/   
    @media only screen and (max-width:450px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    /* tablet ---------------------------------------------------------------------*/
    @media only screen and (min-width:450px) and (max-width:960px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 35px;
    }
/* --------------------------------------------------------------------------------*/     
    .zscope-img-anywhere {
        background-image: url('../productos/imagenes/persona-accediendo-a-emulador-de-termianles-en-forma-remote.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 20%;
        padding-bottom: 50px;
        background-position: center center;
        width: 100%;
        /* tablet -----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            min-height: 450px;
        }
    }
/* --------------------------------------------------------------------------------*/ 
    .zscope-img-desktop {
        background-image: url('../productos/imagenes/persona-trabajando-con-emulador-de-terminal-de-escritorio.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 20%;
        padding-bottom: 50px;
        background-position: center center;
        width: 100%;
        /* tablet -----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            min-height: 450px;
        }
    }
/* --------------------------------------------------------------------------------*/ 
    .zscope-text-element {
        margin-top: 150px;
        margin-left: 10%;
        margin-right: 10%;
        color: #ffffff;
        text-align: left;    
        /* mobile -----------------------------------------------------------------*/   
        @media only screen and (max-width:450px) {
            text-align: center;
        }
        /* tablet -----------------------------------------------------------------*/
        @media only screen and (min-width:450px) and (max-width:960px) {
            margin-top: 200px;
            margin-left: 75px;
            margin-right: 75px;
            text-align: center;
        }

        .zscope-inside-title{
            width: 100%;
            text-align: left;  
            padding-bottom: 15px;
            /* mobile -----------------------------------------------------------------*/
            @media only screen and (max-width:450px) {
                font-size: 18pt;
                text-align: center;   
            }    
            /* tablet -----------------------------------------------------------------*/
            @media only screen and (min-width:450px) and (max-width:960px) { 
                font-size: 22pt;
                text-align: center; 
            }   
        }
    }
}
/* --------------------------------------------------------------------------------*/ 
